doctype html
html
    head
        title Todolist no database
    body
        h1 Todolist
        form(method='POST' action='/add-task')
            input(type='text' name='task')
            button(type='submit') Send
        each n in data
            ul
                li
                    div
                        input(type="checkbox" id=n.id)
                        p=n.title
                        button(type='text' onclick=`deleteTask("${n.id}")`) X
        script.
            const deleteTask = async (id) => {
                await fetch(`/delete-task/${id}`, {method: 'DELETE'})
            }