doctype html
html
    head
        title Todolist no database
    body
        h1 Todolist
        form(method='POST' action='/add-task')
            input(type='text' name='task')
            button(type='submit') Send
        each n in data
            p=n.title